<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Unit 3, Sprint 3</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/form.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/graph.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/colors.css') }}">
    <link rel="icon"
          href="{{ url_for('static', filename='images/dice.ico') }}">
</head>
<body>
<header>
    <h1><a href="/">DataSlider</a></h1>
</header>
<nav>
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="{{ url_for('data_slider') }}">Data Slider</a></li>
    </ul>
</nav>
<section>
    {% block content %}
    {% endblock %}
</section>
<footer>
    <p>&copy; 2020 Sharp Design Digital<span class="right">&lambda;</span>
    </p>
</footer>
</body>
</html>
